body{
	margin: 0px;
	padding: 0px;
}
div{
	 width: 200px;
	height: 200px;
  position: relative;
	
}
.cajaa{
    background-color: #ee3e64;
    margin: 20px 60px;
   }
.cajab{
    background-color: #44accf;
    }
.cajac{
    background-color: #b7d84b;
   }